<div class="main">
    <div class="container main">
  <h4>VINQBOT PRIVACY POLICY</h4>
  <p>
    By using or accessing the Service or participating in our services, you signify your agreement to be bound by our Privacy Policy. IF YOU DO NOT AGREE TO THIS PRIVACY POLICY YOU 
    MAY NOT ACCESS OR OTHERWISE USE OUR SERVICE OR PARTICIPATE IN OUR SERVICES.
  </p>
  <ul>
    <li>The information we collect and why we collect it; </li>
    <li>How we use that information; </li>
    <li>How we share information; and</li>
    <li>The choices we offer. </li>
  </ul>

  <h5>Personally Identifiable Information That We Collect:</h5>
  <p>We do not collect personally identifiable information from you unless you voluntarily 
    provide it to us, such as your email address, username and/or name. You may be required to 
    submit certain personally identifiable information when you register on the Service. 
    The personally identifiable information which you may provide to us could include your name, 
    email address, phone number, physical address, credit card number and related information, 
    and other personal information.
    </p>

    <h5>Non-Personal Or Aggregate Information That We Collect:</h5>
    <p>
      When you access or use our Service, we may automatically collect non-personally identifiable information from you, such as IP host address, web pages viewed, browser type, operating system, referring service, search information, device type, page views, usage and browsing habits on the Service and similar data. We may also aggregate demographic information collected from our users (such as the number of users in a particular state) in a manner which does not identify any one individual. We may also aggregate information collected offline in connection with the Service or use of our services, obtain non-personally identifiable information from third party sources and develop aggregate information by anonymizing previously collected personally identifiable information.

  event such incidental data collection, the possibility still exists. If you believe that we have inadvertently collected your personal information, please notify us at support@vinqbot.com
    </p>

    <h5>Information Usage:</h5>
    <p>
      We will only use your personally identifiable information as described above, unless you have specifically consented to another type of use, either at the time the personally identifiable information is collected from you or through some other form of consent from you or notification to you
    </p>

    <h4>Terms of Use</h4>
    <p>Welcome to Vinqbot! We are so happy you are here, and we can't wait to deliver you happiness, but before you use the site, please read these terms of use carefully!</p>

    <p>We own and operate the website (vinqbot.com), the related mobile sites, chat service and mobile applications, and selected other domains (collectively, the "Sites"). These terms of use (the "Agreement") constitute a contract between you and us. What does that mean? It means that by accessing and/or using the Sites, you agree to all the terms and conditions of this Agreement. If you do not agree, do not use the Sites. As used in this Agreement, "Vinqbot," "we," "us," and "our" shall mean Vinqbot.com.</p>
    
    <p>The inventory and services offered available on our Sites operate independently and have entered into agreements with us to provide the products, items, goods and services available to you on the Sites. The retailers are required to comply with federal, state and local laws, rules, and regulations. In addition, Vinqbot does not guarantee the quality of what the retailers sell, nor does it guarantee the services provided by the retailers, including in those cases where they provides the delivery services. In addition, Vinqbot does not independently verify representations made by retailers regarding their products, item descriptions, goods and delivery services.</p>
  </div>
</div>






